# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=myapp
# on sync: true auto-creates tables (dev only); migrate for prod
DB_SYNCHRONIZE=true
DB_LOGGING=true


JWT_SECRET=112uhudh198dh91d01209euj012d
ACCESS_TOKEN_TTL=15m     # short-lived access token
REFRESH_TOKEN_TTL=30d    # long-lived refresh token
